* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ajuste do background
Usa-se a função url() para importar a imagem */
body {
    background-image: url(./assets/fundo.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

/* Cria uma borda temporária para trabalhar com a centralização
main * {
    border: 1px solid red;
} */

/* centralização */
main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 24px;
    margin-top: 32px;
}

/* Fontes */
body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

section {
    color: rgba(245, 245, 245, 0.911);
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    border-radius: 8px;
    padding: 32px;
    padding-top: 24px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

/* Lista */
section ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-top: 21px;
    flex-wrap: wrap;
}

.games-list img {
    width: 100px;
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
}