* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

/* Ajuste do background
Usa-se a função url() para importar a imagem */
body {
    background-image: url(./assets/fundo.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

/* Cria uma borda temporária para trabalhar com a centralização
main * {
    border: 1px solid red;
} */

/* centralização */
main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
}

section {
    color: rgba(245, 245, 245, 0.911);
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    border-radius: 8px;
    padding: 32px;
    padding-top: 24px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

/* Listas */
section ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-top: 21px;
    flex-wrap: wrap;
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.lista-retro img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
    border: 1.5px solid #443E54;
}

/* header */
header {
    padding-top:32px;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    display: flex;
    padding: 4px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
}

header div img {
    width: 100%;
    border-radius: 80%;
}

/* Transição (ao passar o mouse, aumenta um pouco o tamanho da imagem*/
header div {
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

section ul li{
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

/* animação */

/* aplicação das animações */
header div {
    animation: animationTop .7s .1s backwards;
}

main section {
    animation: animationBottom .7s backwards;
    
}

/* Animando card por card */
main section:nth-child(1) {
    animation-delay: .1s;
}

main section:nth-child(2) {
    animation-delay: .3s;

}

main section:nth-child(3) {
    animation-delay: .5s;
}

main section:nth-child(4) {
    animation-delay: .7s;
}

/* Aqui é definido como serão as animações */
@keyframes animationTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animationBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}